.details {
  grid-area: todos;
}

.details table {
  width: 100%;
  table-layout: fixed;
}

.details th {
  width: 20%;
  padding: .25em;
  text-align: right;
  border-bottom: 1px solid currentColor;
}

.details td {
  padding: .25em;
  text-align: center;
  border-bottom: 1px solid currentColor;
}

.links {
  margin-top: 1em;
  display: grid;
  grid-column-gap: .5em;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "prev back next";
}

.prev {
  grid-area: prev;
}
.back {
  grid-area: back;
}
.next {
  grid-area: next;
}

.links .link {
  font-size: inherit;
  padding: .5em;
  border: 1px solid currentColor;
  background-color: transparent;
  color: currentColor;
  text-decoration: none;
}

.links .link:active {
  background-color: #222;
}

.toggle {
  float: right;
  font-size: small;
  padding: .25em .5em;
  border: 1px solid currentColor;
  background-color: transparent;
  color: currentColor;
  vertical-align: middle;
}

.toggle:active {
  background-color: #222;
}

.header {
  grid-area: header;
}
