.todo {
  position: relative;
  display: grid;
  grid-auto-columns: 2em 1fr 4em;
  grid-template-areas: 'checkmark title button';
}

.todo input {
  grid-area: checkmark;
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.checkmark {
  grid-area: checkmark;
  box-sizing: border-box;
  align-self: center;
  font-size: larger;
  width: 100%;
  text-align: center;
  cursor: pointer;
  transform: scale(1);
  transition: transform .2s linear;
}
.checkmark::before {
  content: '•';
}
.checkmark:hover {
  transform: scale(1.6);
}

.title {
  grid-area: title;
  box-sizing: border-box;
  padding: .5rem;
  user-select: none;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
}
.title:hover {
  outline: 1px solid lightblue;
}
.title:hover::after {
  content: 'details';
  float: right;
}

.todo input:checked ~ .checkmark::before {
  content: '\2713'; /* ✓ */
  vertical-align: middle;
}

.todo input:checked ~ .title {
  text-decoration: line-through;
}

.button {
  grid-area: button;
  color: inherit;
  background-color: inherit;
}
